@keyframes marquee {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}
.carousel {
  display: flex;
  overflow-x: auto;
}
.grouped {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: marquee 12s infinite linear;
}
